/*
	详细信息生成器默认样式配置文件《满庭芳》
	颜色参考：http://www.360doc.com/content/23/0130/19/71084434_1065516886.shtml
*/

div.left
{
	width: 20%;
	height: 100%;
	float: left;
	position: fixed;
	overflow: auto;
	padding: 10px;

	background-color:rgb(245, 242, 233) /* 手如柔荑，肤如凝脂，领如蝤蛴，齿如瓠犀。 */
}

div.content
{
	float: right;
	padding: 10px;
	width: 75%;

	background-color:rgb(234, 238, 241) /* 疏绮笼寒，浅云栖月。 */
}

h1.topmost
{
	font-size:250%;
	font-weight:bold;
}

h2.topmost
{
	font-size:180%;
	font-weight:bold;
}

/* ----------Tables---------- */

table
{
	border-collapse:collapse;
	width: 50%
}

table.general{ width: 85% }

/* Hadean Eon */

tr.HadeanEonTable {}

td.HadeanEonTableTop
{
	font-weight:bold;
	font-size:150%;
	padding: 5px;
	border-right: hidden;

	color:rgb(255, 255, 255);
	background-color:rgb(183, 36, 48); /* 血染洋红久不消，芝泥方法费深调。 */
}

td.HadeanEonTableTopEnd
{
	font-weight:bold;
	font-size:150%;
	padding: 5px;
	border-left: hidden;

	color:rgb(255, 255, 255);
	background-color:rgb(183, 36, 48); /* 血染洋红久不消，芝泥方法费深调。 */
}

td.HadeanEonTableHead
{
	font-weight:bold;
	width: 25%;
	padding-left:5px;
	padding-right:5px;

	background-color:rgb(233, 142, 122); /* 赛儿方十一岁，穿的东方亮衫子，水墨披风，鹅黄裙。 */
}

td.HadeanEonTableData
{
	padding-left:10px;
	padding-right:10px;

	background-color:rgb(254, 226, 223); /* 烂漫花棚锦绣窠，海上霞色上轻罗。 */
}

/* Archean Eon */

tr.ArcheanEonTable {}

td.ArcheanEonTableTop
{
	font-size:150%;
	font-weight:bold;
	padding: 5px;
	border-right: hidden;

	color:rgb(255, 255, 255);
	background-color:rgb(107, 84, 88); /* 牝土之气，仰乎玄天，玄天六百岁生玄砥。 */
}

td.ArcheanEonTableTopEnd
{
	font-size:150%;
	font-weight:bold;
	padding: 5px;
	text-align: right;
	border-left: hidden;

	color:rgb(255, 255, 255);
	background-color:rgb(107, 84, 88); /* 牝土之气，仰乎玄天，玄天六百岁生玄砥。 */
}

td.ArcheanEonTableHead
{
	font-weight:bold;
	width: 25%;
	padding-left:5px;
	padding-right:5px;

	background-color:rgb(153, 128, 108); /* 残寒正欺病酒，掩沉香绣户。 */
}

td.ArcheanEonTableData
{
	padding-left:10px;
	padding-right:10px;

	background-color: rgb(240, 246, 246); /* 缃即今之古色，京师呼汤米娇。 */
}

/* Proterozoic Eon */

tr.ProterozoicEonTable {}

td.ProterozoicEonTableTop
{
	font-weight:bold;
	font-size:150%;
	padding: 5px;
	border-right: hidden;

	color:rgb(255, 255, 255);
	background-color:rgb(66, 34, 86); /* 角声满天秋色里，塞上燕脂凝夜紫。 */
}

td.ProterozoicEonTableTopEnd
{
	font-weight:bold;
	font-size:150%;
	padding: 5px;
	border-left: hidden;

	color:rgb(255, 255, 255);
	background-color:rgb(66, 34, 86); /* 角声满天秋色里，塞上燕脂凝夜紫。 */
}

td.ProterozoicEonTableHead
{
	font-weight:bold;
	width: 25%;
	padding-left:5px;
	padding-right:5px;

	background-color:rgb(206, 147, 191); /* 春色鲜于二月中，分明姹紫胜嫣红。翻疑误泼胭脂水，化出花身迥不同。 */
}

td.ProterozoicEonTableData
{
	padding-left:10px;
	padding-right:10px;

	background-color:rgb(251, 231, 232); /* 初微红，后苍白，如银出炉 */
}

/* Phanerozoic Eon */

tr.PhanerozoicEonTable {}

td.PhanerozoicEonTableTop
{
	font-size:150%;
	font-weight:bold;
	padding: 5px;
	border-right: hidden;

	color:rgb(255, 255, 255);
	background-color:rgb(46, 89, 167); /* 鞭垂泰岳群青末，袖拂苏台万绿初。 */
}

td.PhanerozoicEonTableTopEnd
{
	font-size:150%;
	font-weight:bold;
	padding: 5px;
	border-left: hidden;

	color:rgb(255, 255, 255);
	background-color:rgb(46, 89, 167); /* 鞭垂泰岳群青末，袖拂苏台万绿初。 */
}

/* Palaeozoic Era */

tr.PalaeozoicEraTable {}

td.PalaeozoicEraTableSectionHeader
{
	font-weight:bold;
	font-size:120%;

	background-color:rgb(236, 212, 82); /* 鱼戏排缃叶，龟浮见绿池。 */
}

td.PalaeozoicEraTableHead
{
	font-weight:bold;
	width: 25%;
	padding-left:5px;
	padding-right:5px;
	
	background-color:rgb(255, 238, 111); /* 轻如松花落金粉，浓似苔锦含碧滋。 */
}

td.PalaeozoicEraTableData
{
	padding-left:10px;
	padding-right:10px;	

	background-color:rgb(255, 251, 190); /* 半见离宫出，才分远水明。 */
}

/* Mesozoic Era */

tr.MesozoicEraTable {}

td.MesozoicEraTableSectionHeader
{
	font-weight:bold;
	font-size:120%;

	background-color:rgb(117, 193, 196); /* 地远松石古，风扬弦管清。 */
}

td.MesozoicEraTableHead
{
	font-weight:bold;
	width: 15%;
	padding-left:5px;
	padding-right:5px;

	background-color:rgb(177, 213, 200); /* 水色沧浪，波涛浩汗。 */
}

td.MesozoicEraTableData
{
	padding-left:10px;
	padding-right:10px;	

	background-color:rgb(213, 235, 225); /* 篷窗窥天缥，江水真安流。 */
}

/* Cenozoic Era */

tr.CenozoicEraTable {}

td.CenozoicEraTableSectionHeader
{
	font-weight:bold;
	font-size:120%;

	background-color:rgb(63, 148, 228);
}

td.CenozoicEraTableHead
{
	font-weight:bold;
	width: 15%;	
	padding-left:5px;
	padding-right:5px;

	background-color:rgb(118, 199, 252);
}

td.CenozoicEraTableData
{
	padding-left:10px;
	padding-right:10px;	

	background-color:rgb(212, 229, 239) /* 醉看墨花月白，恍疑雪满前村。 */
}

/* Civilization */

tr.CivilizationTable {}

td.CivilizationTableTop
{
	font-size:150%;
	font-weight:bold;
	padding: 5px;
	border-right: hidden;

	color:rgb(255, 255, 255);
	background-color:rgb(46, 89, 167); /* 鞭垂泰岳群青末，袖拂苏台万绿初。 */
}

td.CivilizationTableHead
{
	font-weight:bold;
	width: 15%;	
	padding-left:5px;
	padding-right:5px;

	background-color:rgb(118, 199, 252);
}

td.CivilizationTableData
{
	padding-left:10px;
	padding-right:10px;	

	background-color:rgb(212, 229, 239) /* 醉看墨花月白，恍疑雪满前村。 */
}